<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>위험 감지 중02</title>
    <link rel="stylesheet" href="/static/css/main02.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>
<body id="body">
    <div class="container">
        <div class="header">
            <div class="div1">위험 감지 중 </div>
            <div class="db">0dB</div>
            <a href="main.html" class="home">HOME</a>
        </div>  
        <div class="headphone-container">
            <div class="wave-group">
                <div class="wave wave-1"></div>
                <div class="wave wave-2"></div>
                <div class="wave wave-3"></div>
                <div class="wave wave-4"></div>
                <div class="wave wave-5"></div>
                <div class="wave wave-6"></div>
                <div class="wave wave-7"></div>
                <div class="wave wave-8"></div>
                <div class="wave wave-9"></div>
                <div class="wave wave-10"></div>
            </div>
            <div class="headphone">
                <img class="headphone-dynamic-gradient-icon" alt="" src="/static/img/tea-cup-dynamic-gradient.png">
            </div>
            <div class="wave-group">
                <div class="wave wave-10"></div>
                <div class="wave wave-9"></div>
                <div class="wave wave-8"></div>
                <div class="wave wave-7"></div>
                <div class="wave wave-6"></div>
                <div class="wave wave-5"></div>
                <div class="wave wave-4"></div>
                <div class="wave wave-3"></div>
                <div class="wave wave-2"></div>
                <div class="wave wave-1"></div>
            </div>
        </div>
        <div class="message-container">
            <p class="message">무언가 끓고 있는것 같아요! 😣</p>
        </div>
    </div>
    <script src="/static/js/soundMeasurement.js"></script>
    <script src="/static/js/moving.js"></script>
</body>
</html>
