<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>경고창 애니메이션</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main05.css">
</head>
<body id="body">
    <div class="container">
        <div class="header">
            <div class="div1">위험 감지 중</div>
            <div class="db">0dB</div>
            <a href="main" class="home">HOME</a>
        </div>
        <div class="headphone-container">
            <div class="wave-group">
                <div class="wave wave-1"></div>
                <div class="wave wave-2"></div>
                <div class="wave wave-3"></div>
                <div class="wave wave-4"></div>
                <div class="wave wave-5"></div>
                <div class="wave wave-6"></div>
                <div class="wave wave-7"></div>
                <div class="wave wave-8"></div>
                <div class="wave wave-9"></div>
                <div class="wave wave-10"></div>
            </div>
            <div class="headphone"> 
                <img class="headphone-dynamic-gradient-icon" alt="Headphone" src="/static/img/car.png">
            </div>
            <div class="wave-group">
                <div class="wave wave-1"></div>
                <div class="wave wave-2"></div>
                <div class="wave wave-3"></div>
                <div class="wave wave-4"></div>
                <div class="wave wave-5"></div>
                <div class="wave wave-6"></div>
                <div class="wave wave-7"></div>
                <div class="wave wave-8"></div>
                <div class="wave wave-9"></div>
                <div class="wave wave-10"></div>
            </div>
        </div>
        <div class="message-container">
            <p class="message">바로 근처에 차가 있는것 같아요🛺</p>
        </div>
        <div id="alertBox" class="alert-box">
            <img src="/static/img/danger.png" alt="DANGER">
        </div>
    </div>
    <script src="/static/js/soundMeasurement.js"></script>
    <script src="/static/js/moving.js"></script>
</body>
</html>
